// Colors
$main-color: #E7E2DF;
$acent-color: #656263;
$active-color: #F03642;

// Fonts
$fira-font: 'Fira Sans', sans-serif;

body{
	margin: 0;
	overflow: hidden;
}

img{
	width: 100%;
	display: block;
}

.fa{
	color: $acent-color;
	&:hover{
		color: $active-color;
	}
}

#banner{
	height: 30px;
	background: $main-color;
	padding: 10px;

	#logo {
		width: 30px;
		margin: 0px 10px;
		float: left;
	};

	#link-box{
		float: right;

		.media-link{
			width: 32px;
			float: right;
			margin: 0px 5px;
		};
	};
}

#content{
	background: url(/images/technology_60.jpg) center center / cover no-repeat;
	position: absolute;
	width: 100%;
	top: 50px;
	bottom: 0; 
	text-align: center;
	#tabs{
		list-style-type: none;
		display: inline-block;
		margin: 10px auto;
		li{
			font-family: $fira-font;
			display: inline;
			color: $main-color;
			margin: 0px 20px;

			a{
				text-decoration: none;
				color: $main-color;
				font-family: $fira-font;
				font-size: 30px;
				&.selected{
					color: $active-color;
				}
			};
		};
	};

	#home{
		#about-me{
			width: 600px;
			text-align: left;
			margin: 0 auto;
			position: relative;
			top: 100px;
			font-family: $fira-font;
			#hello-txt{
				font-family: $fira-font;
				color: $active-color;
				font-size: 60px;
				margin-bottom: 0;
			};
			#about-me-text{
				margin-top: 0;
				color: $main-color;
				font-size: 15px;
			};
			#home-btns{
				text-align: center;
			}
			#resume-btn{
				text-align: center;
				display: inline-block;
				margin: 0 auto; 
				text-decoration: none;
				font-size: 30px;
				color: $main-color;
				line-height: 45px;
				border-bottom: solid $main-color 1px;
				&:hover{
					border-bottom: solid $active-color 2px;
				}
			};
		};
	}

	#projects{
		#my-project-wrapper{
			overflow: hidden;
			width: 600px;
			margin: 0 auto;
			position: absolute;
			top: 0px;
			bottom: 0;
			left: 50%;
			margin-left: -300px;
			#my-projects{
				overflow-y: scroll;
				width: 600px;
				margin: 0 auto;
				position: absolute;
				top: 60px;
				bottom: 0;
				left: 50%;
				margin-left: -300px;
				.project{
					margin: 30px 0; 
					.project-image{
						width: 150px;
						float: left;
						margin-right: 20px;
						border: $main-color solid 2px;
						border-radius: 1px;
						&:hover{
							border: $active-color solid 2px;
						}
					};
					h2{
						color: $active-color;
						text-align: left;
					};
					.skill-box{
						float: left;
						width: 100%;
						.skill{
							display: inline-block;
							background: $active-color;
							color: $main-color;
							padding: 0 5px;
							border-radius: 10px;
							margin: 5px 0 ;
						}
					};
					p{
						text-align: left;
						color: $main-color;
						display: block;
					}
				};
			};
		};
	}

	#contact{
		h2{
			color: $active-color;
			font-size: 60px;
			margin-bottom: 0;
		}
		i{
			color: $main-color;
			margin: 20px 10px; 
			&:hover{
				color: $active-color;
			}
		}
		#mail-form{
			display: block;
			width: 350px;
			// height: 300px;
			margin: 0 auto;
			text-align: center;
			input, textarea{
				background: $main-color;
				color: $acent-color;
				border: none;
				border-radius: 5px;
				padding: 5px;
				display: block;
				margin: 5px;
				width: 100%;
			};
			.button{
				display: inline-block;
				width: 100px;
				color: $active-color;
			}
		}
	}
	div.tabContent{
    animation: fadein 1s;
    position: absolute;
		width: 100%;
		top: 60px;
		bottom: 0;
		font-family: $fira-font;
	}

	div.tabContent.hide{
		display: none;
	}


}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}